<!DOCTYPE html>


<html>
   <head>
      <meta charset = "utf-8">
      <meta name="'viewport" content=""width=device-width, initial-scale=" 1.0">
      <link rel = "stylesheet" href="static/chasitty_css/style.css">
      <title>Chasitty Ayala's Personal Webpage</title>
   </head>

   <body>

      <div class=" container"> 
      <h1> Chasitty Ayala</h1>


        <img src ="static/images/chasitty.jpg" width = "120" height ="120" alt="Chasitty Ayala Pic"> 
      <!-- Navigation Bar -->
      <nav class="navbar">
         <ul>
            <li><a href="/chasitty">Home</a></li>
            <li><a href="resume">Resume</a></li>
            <li><a href="#programming-languages">Programming Languages</a></li>
            <li><a href="/chasitty-contact"> Contact Me </a></li>
         </ul>
      </nav>
      <div class="about-me">
         <h3> About Me </h3>
         <p>Hi, My name is Chasitty Ayala. I am currently working as a Genius Admin at Apple.
            I have a strong passion for technology, software development, and web design. 
            I enjoy building applications using Python, Django, and React.js. My recent projects include building a Clinic Management System with MYSQL, Python, HTML, and CSS.
            My most recent project is called VerbaNex which is a language translator that uses OpenAI. 
            Some of my background includes being in the U.S. Navy for five years as an Operations Specialist. I graduated from a coding bootcamp (Coding Dojo) in 2021. 
            In my coding bootcamp I learned Python, Java, MERN, and HTML/CSS. I've had several years of experience building and improving projects for my desired role in software engineering. 
            I am continuously finding ways to integrate my Bachelor's in Computer Science to self-projects and my current job role at Apple.
            In my free time, I like going to the gym, pilates, listening to music, and meditating.
         </p>


         <div class = "programming-lang">
            <h3> Programming Languages</h3>
            <ul>
               <li> HTML/CSS </li>
               <li> JavaScript</li>
               <li> Python </li>
               <li> Java </li>
               <li> C++ </li>
               <li> MERN </li>
               <li> MYSQL </li>
               <li> MongoDB</li>
               <li> Django </li>
               <li> Flask </li>
            </ul>   
         </div>
         <div class="links">
            <ul>
               <li><a href="https://www.linkedin.com/in/chasitty-ayala/">LinkedIn Profile</a></li>
               <li><a href="https://github.com/chasittya">Recent Projects</a></li>
            </ul>
         </div>
      </div>
   </body>
</html>