<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Contact - Chasitty Ayala</title>
      <link rel="stylesheet" href="static/chasitty_css/style.css">
   </head>
   <body>

        <div class=" container"> 
        <h1> Chasitty Ayala</h1>
  
  
          <img src ="static/images/chasitty.jpg" width = "120" height ="120" alt="Chasitty Ayala Pic"> 
      <!-- Navigation Bar -->
      <nav class="navbar">
        <ul>
           <li><a href="/chasitty">Home</a></li>
           <li><a href="/chasitty-resume">Resume</a></li>
           <li><a href="/chasitty-program">Programming Languages</a></li>
           <li><a href="/chasitty-contact">Contact</a></li>
        </ul>
     </nav>
    <div class="resume">
        <section class="resume-section">
            <h2>Education and Training</h2>
            <div class="resume-item">
                <h3>University of Houston - Downtown, Houston, TX</h3>
                <p><strong>Expected: Dec. 2024</strong></p>
                <p>Bachelor of Science: Computer Science</p>
                <p>Relevant Courses: Artificial Intelligence, Software Engineering, Data Structures, Robotics, Internet of Things</p>
            </div>
            <div class="resume-item">
                <h3>Coding Dojo - San Jose, CA</h3>
                <p><strong>Jan. 2021 - Aug. 2021</strong></p>
                <p>Full Stack Developer</p>
                <p>Areas of Study: HTML, CSS, Java, Python, MongoDB, React, Express, and Node.js (MERN)</p>
            </div>
        </section>
    
        <section class="resume-section">
            <h2>Project Experience</h2>
            <div class="resume-item">
                <h3>Computer Science & Engineering Dept. – UHD, Houston, TX</h3>
                <p><strong>Mar. 2020 - Present</strong></p>
                <p><strong>Translator Application</strong> (Python, Hugging Face, TensorFlow), <strong>Clinic Management System</strong> (Python)</p>
                <ul>
                    <li>Developed a multi-language translation app using TensorFlow and Hugging Face MarianMT models, supporting BLEU score evaluation for accuracy.</li>
                    <li>Led a group of 5 creating a clinic management system using Python, MySQL, Bootstrap that allowed users to create medical appointments.</li>
                </ul>
            </div>
        </section>
    
        <section class="resume-section">
            <h2>Work Experience</h2>
            <div class="resume-item">
                <h3>Apple Inc. - Houston, TX</h3>
                <p><strong>Sept. 2021 - Present</strong></p>
                <p>Genius Admin</p>
                <ul>
                    <li>Utilized Repair database to meticulously monitor all repair processes, including Depot Repairs, ensuring adherence to technical standards and quality control protocols.</li>
                    <li>Implemented strategies to prioritize repair completion, optimizing Turn Around Time goals and commitments.</li>
                </ul>
            </div>
            <div class="resume-item">
                <h3>United States Navy – Various Locations</h3>
                <p><strong>Oct. 2015 - Oct. 2020</strong></p>
                <p>Operations Supervisor & Specialist</p>
                <ul>
                    <li>Developed and led quarterly training exercises designed to supplement real-world scenarios for 200+ personnel.</li>
                    <li>Tracked and evaluated foreign ships/aircraft for potential threats; analyzed cryptic messages.</li>
                </ul>
            </div>
        </section>
    </div>